{
    "name": "{{name}}",
    "description": "{{description}}",
    "type": "ee-cli-package",
    "homepage": "{{homepage}}",
    "license": "{{license}}",
    "authors": [],
    "minimum-stability": "dev",
    "prefer-stable": true,
    "autoload": {
        "files": [ "command.php" ]
    },
    "require": {
        "easyengine/easyengine": "{{require_ee_cli}}"
    },
    "require-dev": {
        "behat/behat": "~2.5"
    }
}
