Installing this package {{ee_cli_requires_instructions}}. Update to {{ee_cli_update_to_instructions}}.

Once you've done so, you can install this package with:

    ee package install git@github.com:{{package_name}}.git
