This package is included with EE itself, no additional installation necessary.

To install the latest version of this package over what's included in EE, run:

    ee package install git@github.com:{{package_name}}.git
